// Footer Styling

footer {
  background: #99e1d9;
  .icons {
    padding-bottom: 0;
    a {
      color: #f9f9f9;
    }
    a:hover {
      color: #1377d5;
    }
  }
  p {
    color: #f9f9f9;
    margin-bottom: 0;
    text-align: center;
    font-size: 24px;
  }
}
