html,
body {
  background: #f9f9f9;
}

body {
  position: relative;
  font-family: Georgia, Times, Times New Roman, serif;
}

@import "nav";

@import "about";

@import "projects";

@import "open-source";

@import "resume";

@import "contact";

@import "footer";
