doctype html
html(lang='en')
head
    meta(charset='utf-8')
    script(defer src='https://use.fontawesome.com/releases/v5.0.2/js/all.js')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
    link(rel="stylesheet", href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
    link(rel="stylesheet", href="css/index.css", type="text/css")
    title MackMMiller
body(data-spy='scroll' data-target='.navbar' data-offset='500')
    nav(class='navbar navbar-expand-lg sticky-top')
        a(href='#' class='navbar-brand mr-auto') MackMMiller
        ul.navbar-nav
            li.nav-item
                a.nav-link(href="#about") About
            li.nav-item
                a.nav-link(href="#projects") Projects
            li.nav-item
                a.nav-link(href="#open-source") Open Source
            li.nav-item
                a.nav-link(href="#resume") Skills
            li.nav-item
                a.nav-link(href="#contact") Contact
    main.container
        section(class='about row' id='about')
            .col-5
                h2.about-title About
                h4.about-title.text-muted Solution Driven Development
                p 
            div(class='img col-6 offset-1')
        section(class='projects row' id='projects')
            h2.projects-title Projects
            h4.projects-title.text-muted Personal work and future unicorns
            .card-deck
                .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-4
                    div(class='card text-center')
                        .card-body
                            h4.card-title Pollster
                            h6(class='card-subtitle mb-2 text-muted') Create, share, and vote on user created polls
                            p.card-text of a card
                            a(href='#' class='btn btn-primary') View Live
                            a(href='#' class='btn btn-secondary') Source Code
                .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-4
                    div(class='card text-center')
                        .card-body
                            h4.card-title LaneLines
                            h6(class='card-subtitle mb-2 text-muted') Manage swimming workouts and practices
                            p.card-text of a card.
                            a(href='#' class='btn btn-primary') View Live
                            a(href='#' class='btn btn-secondary') Source Code
                .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-4
                    div(class='card text-center')
                        .card-body
                            h4.card-title StudentOrg
                            h6(class='card-subtitle mb-2 text-muted') The organization management application for student run organizations and clubs
                            p.card-text of a card.
                            a(href='#' class='btn btn-primary') View Live
                            a(href='#' class='btn btn-secondary') Source Code
        section(class='open-source row' id='open-source')
            h2(class='open-source-title') Open Source Contributions
            h4(class='open-source-title text-muted') Learn through sharing
            .col-6
                div(class='card text-center')
                    ul(class='list-group list-group-flush')
                        li.list-group-item
                            a(href="#") Contribution #1
            div(class='col-5 offset-1')
                p Open source is how I learned to program. It provided me with countless volumes of reading material, a wealth of projects looking for a learning hand, and a stage to present myself and listen to criticism.
                p It's only right that I give back to the community that made me.
        section(class='resume row' id='resume')
            h2(class='skills-title') Skills & CV
            h4.skills-title.text-muted My tools of choice
            div(class='container col-md-10 mx-auto')
                .row
                    ul.skill-ul
                        li Frontend
                        li
                            i(class='icon devicon-javascript-plain colored')
                        li
                            i(class='icon devicon-html5-plain-wordmark colored')
                        li
                            i(class='icon devicon-css3-plain-wordmark colored')
                        li
                            i(class='icon devicon-sass-original colored')
                        li
                            i(class='icon devicon-react-original-wordmark colored')
                        li
                            i(class='icon devicon-d3js-plain colored')
                        li
                            i(class='icon devicon-jquery-plain-wordmark colored')
                hr
                .row
                    ul.skill-ul
                        li Backend
                        li
                            i(class='icon devicon-nodejs-plain-wordmark colored')
                        li
                            i(class='icon devicon-express-original-wordmark colored')
                        li
                            i(class='icon devicon-mongodb-plain-wordmark colored')
                hr
                .row
                    ul.skill-ul
                        li Tools
                        li
                            i(class='icon devicon-github-plain-wordmark colored')
                        li
                            i(class='icon devicon-gulp-plain colored')
                        li
                            i(class='icon devicon-webpack-plain-wordmark colored')
                        li
                            i(class='icon devicon-heroku-original-wordmark colored')
            a(href='#' class='btn btn-primary') Download My Resume
        section(class='contact row' id='contact')
            h2.contact-title Contact
            h4.contact-title.text-muted Getting in touch
            .col-5.offset-1
                p If you'd like to work together, or just want to share ideas over a coffee, send me an email. I'm always looking for promising and interesting opportunities.<br><br>I'm currently open to:
                ul
                    li Full time positions
                    li Freelance work
                    li Collaborations
                    
            form(action='' class='col-5')
                .row
                    input(class='form-control name' type='text' placeholder='Name')
                    input(class='form-control email' type='text' placeholder='Email')
                .row
                    input(class='form-control subject' type='text' placeholder='Subject')
                .row
                    textarea(class='form-control message' type='text' placeholder='message')
                .row
                    input(class='btn btn-success' type='submit')
    footer
        div(class='icons d-flex justify-content-center')
            a(href='https://github.com/mackmmiller' class='p-2')
                i(class='fab fa-github fa-2x')
            a(href='https://www.linkedin.com/in/miller-mackenzie/' class='p-2')
                i(class='fab fa-linkedin-in fa-2x')
            a(href='https://twitter.com/MackMMiller?lang=en' class='p-2')
                i(class='fab fa-twitter fa-2x')
            a(href='https://www.freecodecamp.org/mackmmiller' class='p-2')
                i(class='fab fa-free-code-camp fa-2x')
        p Developed by Mackenzie Miller
        